{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "WEBHOOK_URL": "",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": ""
  },
  "Host": {
    "LocalHttpPort": 7071,
    "CORS": "https://<tenant>.sharepoint.com,https://localhost:4321",
    "CORSCredentials": false
  }
}
